* {
    margin: 0;
    min-height: 100%;
    
}

html{
    background-color:#f7e8e3;
}

.menu{
    width: auto;
background-color:#b9806a;
color: white;
display: flex;
justify-content: space-around;
font-size: 18px;
padding: 20px 0;
}

.name{
    font-weight: bold;
}


.links{
    display: flex;
    align-items: center;
}

.main-page{
    padding: 20px;
}

.about-us{
    padding: 20px;
}

.contacts{
    padding: 20px;
}

.header-container{
background-color:#b9806a;
color: white;
display: flex;
justify-content: center;
padding: 20px 0;
}

.header{
    padding: 40px;
    width: 600px;
}

.text-1{
    font-size: 48px;
    font-weight: bold;
}

.text-2{
    font-size: 18px;
    font-weight: normal;
    margin-top: 20px;
}

.image{
    border: 5px double white;
    border-radius: 5px;
    margin-left: 5em;
    justify-content: flex-end;
    object-fit: cover;

}

.photo-grid-container{
    font-size: 36px;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

h2{
    display: flex;
    justify-content: center;
    padding: 20px 0;
    font-size: 36px;
    color: #5a544d;
}

.photo-grid{
    display: flex;
    justify-content: flex-start;
    
}

.photo-grid-item{
    border: 5px solid #dbaf96;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.quote-container{
    background-color:#9c958e;
    color:whitesmoke;
    display: flex;
    justify-content: center;
    padding: 40px 0;
    flex-direction: column;
    margin: 40px 0;
}

.quote{
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.author{
    display: flex;
    justify-content: flex-end;
    font-weight: normal;
    font-size: 24px;
    font-weight: bold;
}

.footer-container{
    background-color: #dbaf96;;
    color: aliceblue;
    font-size: 24px;
    padding: 40px 0;
    display: flex;
    justify-content: center;
}





.copyright-container{
    background-color:#573625;
    display: flex;
    justify-content: center;
    padding: 40px 0;
    font-size: 24px;
    color: aliceblue;
}